# Titanic Data Analysis

### Introduction to Data Set & Analysis

The Titanic data set contains demographics and passenger information from 891 of the 2224 passengers and crew on board the Titanic. The most important variable is the binary variable "Survived", with 1 indicating that this passenger survived and 0 indicating otherwise. Other variables, such as sex, group and fare, might be useful in prerdicting the survival of that passenger.

First, I would like to brainstorm a serial of question regarding this data set.

1. How many percentage of people survived?
2. What are the summary statistics of passenger class, sex, age,  number of siblings/spouses abroad, number of parents/children abroad, passenger fare, port of embarkation?
3. What factors determine the likelihood of survival?
4. We have all heard of the saying "Women and children first." Are women and children more likely to survived?
5. Are people with higher fare more likely to survive? What about people with higher passenger class?
6. Are people with big family more or less likely to survive?

In [27]:
# Import packages

import numpy as np 
import pandas as pd
import matplotlib.mlab as mlab
import matplotlib.pyplot as plt

In [6]:
import os
os.getcwd()

'/Users/xiangli/Downloads'

In [7]:
# Import data and discplay the first few rows

titanic = pd.read_csv('/Users/xiangli/Desktop/bootcamp/Udacity Nanodegree/P2/data set/titanic-train.csv')

titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### Data Wrangling Process

During the data wrangling process, I want to take a close look at the data set and make changes to data type and missing value when neccessary. After we clean the data set, our model will generate more accurate results.

In [8]:
# Exam missing value in Survived

survived_is_null = pd.isnull(titanic['Survived'])
sum(survived_is_null)

0

In [9]:
# Exam missing value in Pclass

pclass_is_null = pd.isnull(titanic['Pclass'])
sum(pclass_is_null)

0

In [10]:
# Exam missing value in Name

name_is_null = pd.isnull(titanic['Name'])
sum(name_is_null)

0

In [11]:
# Exam missing value in Sex

sex_is_null = pd.isnull(titanic['Sex'])
sum(sex_is_null)

0

In [12]:
# Exam missing value in Age

age_is_null = pd.isnull(titanic['Age'])
sum(age_is_null)

177

In [13]:
# Exam missing value in SibSp

sibsp_is_null = pd.isnull(titanic['SibSp'])
sum(sibsp_is_null)

0

In [14]:
# Exam missing value in Parch

parch_is_null = pd.isnull(titanic['Parch'])
sum(parch_is_null)

0

In [15]:
# Exam missing value in Ticket

ticket_is_null = pd.isnull(titanic['Ticket'])
sum(ticket_is_null)

0

In [16]:
# Exam missing value in Fare

fare_is_null = pd.isnull(titanic['Fare'])
sum(fare_is_null)

0

In [17]:
# Exam missing value in Cabin

cabin_is_null = pd.isnull(titanic['Cabin'])
sum(cabin_is_null)

687

In [18]:
# Exam missing value in Embarked

embarked_is_null = pd.isnull(titanic['Embarked'])
sum(embarked_is_null)

2

As we can see, age is missing 177 data points, cabin is missing 687 data points and embarked is missing 2 data points.

Since cabin is missing 687 out of 891 data points, the best solution is perhaps just to exclude this variable in our analysis.

Embarked is only missing 2 data points, therefore we can make some educated guesses and replace these missing values with the mode. We could also drop this entire variable or drop these 2 data points, but then we will lose the value provided from this variable or other variables of these data points. In my opinion, it is worthwhile to estimate these 2 embarked value if we can gain other values. 

Lastly, we need to do something clever with the 177 missing age variable, since age seems like an important variable. But first, let's go ahead and drop the cabin variable and drop the 2 rows with missing embarked values.

In [19]:
# Drop the cabin variable

titanic_clean1 = titanic.drop(['Cabin'], axis = 1)

In [20]:
# Drop the 2 data points with missing embarked values

titanic_clean2 = titanic_clean1[pd.notnull(titanic_clean1['Embarked'])]

In [21]:
# Display the first few rows of the new cleaning data set to make sure data was cleaned appropriately
titanic_clean2.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S

To figure out how to best estimate age for the 177 missing values, let's first look at the distribution of age.

In [22]:
# Assign varible to age

var_age = titanic_clean2.Age

In [23]:
# Exam the distribution of age - histogram

var_age.plot.hist(bins = 80)

In [24]:
# Exam the distribution of age - boxplot

var_age.plot.box()

With the histogram and boxplot of age in hand, let's look at the summary statistics.

In [25]:
# Summary statistics of age 

var_age.describe()

/Users/xiangli/anaconda/lib/python2.7/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

count    712.000000
mean      29.642093
std       14.492933
min        0.420000
25%             NaN
50%             NaN
75%             NaN
max       80.000000
Name: Age, dtype: float64

Oops, looks like we are gettting NaN for our summary statistics. I suspect that this is due to missing values. I will run the summary statistics again without the missing values.

In [29]:
# Summary statistics of age excluding missing values

var_age_no_missing = var_age[~np.isnan(var_age)]

var_age_no_missing.describe()

count    712.000000
mean      29.642093
std       14.492933
min        0.420000
25%       20.000000
50%       28.000000
75%       38.000000
max       80.000000
Name: Age, dtype: float64

The median age is 28-year old. One of the ways to replace the missing age values are to replace all of them with the median - 28. I will go ahead with this approach for now.

In [30]:
# Fill in missing age value with median

titanic_clean2['Age'].fillna(28, inplace = True)

/Users/xiangli/anaconda/lib/python2.7/site-packages/pandas/core/generic.py:3191: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [31]:
# Display the clean data set with no missing values
titanic_clean2

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S
5,6,0,3,"Moran, Mr. James",male,28.0,0,0,330877,8.4583,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,28.0,0,0,244373,13.0000,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,28.0,0,0,2649,7.2250,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,28.0,0,0,2631,7.2250,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,28.0,0,0,330959,7.8792,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,28.0,0,0,349216,7.8958,S
...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,S
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,28.0,8,2,CA. 2343,69.5500,S
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,S
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,C
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,28.0,0,0,345777,9.5000,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,S
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,C
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,S
878,879,0,3,"Laleff, Mr. Kristo",male,28.0,0,0,349217,7.8958,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,S
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,28.0,1,2,W./C. 6607,23.4500,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,Q

### Data Exploration Process

Now we have a clean data set to work with. We can start the data exploration process and begin answering the questions proposed earlier.

Question 1: 
How many percentage of people survived?

In [32]:
survived_pa = titanic_clean2.Survived

In [33]:
sum(survived_pa)

340

In [34]:
num_row = len(titanic_clean2)
print num_row

889

In [35]:
# Calculate the percentage survived
print sum(survived_pa) * 100 / num_row

38

According to our calculation on the cleaned data set, 38% of passengers survived.

Question 2: 
What are the summary statistics of passenger class, sex, age, number of siblings/spouses abroad, number of parents/children abroad, passenger fare, port of embarkation?

In this question, notice we excluded passenger id because it's just an identifier and doesn't provide much value to the analysis other than being a label. We excluded name because it's a string variable and would be hard to summarize. We excluded ticket because it appears to be strings and kind of random. We also excluded cabin earlier due to too many missing values.

In [36]:
# Summary statistics for passenger class

titanic_clean2.Pclass.describe()

count    889.000000
mean       2.311586
std        0.834700
min        1.000000
25%        2.000000
50%        3.000000
75%        3.000000
max        3.000000
Name: Pclass, dtype: float64

In [37]:
# Summary statistics for sex

titanic_clean2.Sex.describe()

count      889
unique       2
top       male
freq       577
Name: Sex, dtype: object

In [38]:
# Summary statistics for age

titanic_clean2.Age.describe()

count    889.000000
mean      29.315152
std       12.984932
min        0.420000
25%       22.000000
50%       28.000000
75%       35.000000
max       80.000000
Name: Age, dtype: float64

In [39]:
# Summary statistics for number of siblings/spouses abroad

titanic_clean2.SibSp.describe()

count    889.000000
mean       0.524184
std        1.103705
min        0.000000
25%        0.000000
50%        0.000000
75%        1.000000
max        8.000000
Name: SibSp, dtype: float64

In [40]:
# Summary statistics for number of parents/children abroad

titanic_clean2.Parch.describe()

count    889.000000
mean       0.382452
std        0.806761
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        6.000000
Name: Parch, dtype: float64

In [41]:
# Summary statistics for passenger fare

titanic_clean2.Fare.describe()

count    889.000000
mean      32.096681
std       49.697504
min        0.000000
25%        7.895800
50%       14.454200
75%       31.000000
max      512.329200
Name: Fare, dtype: float64

In [42]:
# Summary statistics for port of embarkation

titanic_clean2.Embarked.describe()

count     889
unique      3
top         S
freq      644
Name: Embarked, dtype: object

Question 2: What factors determine the likelihood of survival?

First, I will approach this question using a decision tree model.

In [43]:
# Import 'sklearn' package
from sklearn.tree import DecisionTreeClassifier
from sklearn import metrics, tree
from sklearn.externals.six import StringIO

In [44]:
# Double check the column names I have
titanic_clean2.columns

Index([u'PassengerId', u'Survived', u'Pclass', u'Name', u'Sex', u'Age',
       u'SibSp', u'Parch', u'Ticket', u'Fare', u'Embarked'],
      dtype='object')

In [45]:
# Extract the columns needed and convert categorical variables into dummy variables on training data set
X = titanic_clean2[['Pclass', 'Age', 'SibSp', 'Parch', 'Fare']]

In [46]:
Z1 = pd.get_dummies(titanic_clean2.Sex)

In [47]:
Z2 = pd.get_dummies(titanic_clean2.Embarked)

In [48]:
X = pd.concat([X, Z1, Z2], axis = 1)

In [49]:
# Display columns that will go into the model as predictors on training set
print X.head()

   Pclass   Age  SibSp  Parch     Fare  female  male    C    Q    S
0       3  22.0      1      0   7.2500     0.0   1.0  0.0  0.0  1.0
1       1  38.0      1      0  71.2833     1.0   0.0  1.0  0.0  0.0
2       3  26.0      0      0   7.9250     1.0   0.0  0.0  0.0  1.0
3       1  35.0      1      0  53.1000     1.0   0.0  0.0  0.0  1.0
4       3  35.0      0      0   8.0500     0.0   1.0  0.0  0.0  1.0

In [59]:
# Build a decision tree classifier model & train the model on training data set
dtc = tree.DecisionTreeClassifier()
Y = titanic_clean2[['Survived']]

In [51]:
print Y.head()

   Survived
0         0
1         1
2         1
3         1
4         0

In [60]:
dt = dtc.fit(X, Y)

In [62]:
# Visualize the decision tree
from sklearn.externals.six import StringIO
with open("dt.dot", 'w') as f:
    f = tree.export_graphviz(dt, out_file=f)

In [63]:
#Then we can use Graphviz’s dot tool to create a PDF file (or any other supported file type): 

dot -Tpdf dt.dot -o dt.pdf

SyntaxError: invalid syntax (<ipython-input-63-abf2f5187697>, line 3)

In [64]:
# Load testing data set

titanic_test = pd.read_csv('/Users/xiangli/Desktop/bootcamp/Udacity Nanodegree/P2/data set/test.csv')

titanic_test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [65]:
# Extract the columns needed and convert categorical variables into dummy variables on testing data set
X_test = titanic_test[['Pclass', 'Age', 'SibSp', 'Parch', 'Fare']]

In [66]:
Z1_test = pd.get_dummies(titanic_test.Sex)

In [67]:
Z2_test = pd.get_dummies(titanic_test.Embarked)

In [68]:
X_test = pd.concat([X_test, Z1_test, Z2_test], axis = 1)

In [69]:
# We need to check if there is any missing value that needs to be cleaned in this testing set
sum(pd.isnull(X_test['Pclass']))

0

In [70]:
sum(pd.isnull(X_test['Age']))

86

In [71]:
sum(pd.isnull(X_test['SibSp']))

0

In [72]:
sum(pd.isnull(X_test['Parch']))

0

In [73]:
sum(pd.isnull(X_test['Fare']))

1

In [74]:
sum(pd.isnull(X_test['female']))

0

In [75]:
sum(pd.isnull(X_test['male']))

0

In [76]:
sum(pd.isnull(X_test['C']))

0

In [77]:
sum(pd.isnull(X_test['Q']))

0

In [78]:
sum(pd.isnull(X_test['S']))

0

In [79]:
# Replace missing age variable with median
X_test.loc[pd.isnull(X_test['Age']), 'Age'] = X_test['Age'].median()

In [80]:
# Replace missing age fare with median
X_test.loc[pd.isnull(X_test['Fare']), 'Fare'] = X_test['Fare'].mean()

In [81]:
# Display columns that will go into the model as predictors on testing data set
print X_test

     Pclass   Age  SibSp  Parch      Fare  female  male    C    Q    S
0         3  34.5      0      0    7.8292     0.0   1.0  0.0  1.0  0.0
1         3  47.0      1      0    7.0000     1.0   0.0  0.0  0.0  1.0
2         2  62.0      0      0    9.6875     0.0   1.0  0.0  1.0  0.0
3         3  27.0      0      0    8.6625     0.0   1.0  0.0  0.0  1.0
4         3  22.0      1      1   12.2875     1.0   0.0  0.0  0.0  1.0
5         3  14.0      0      0    9.2250     0.0   1.0  0.0  0.0  1.0
6         3  30.0      0      0    7.6292     1.0   0.0  0.0  1.0  0.0
7         2  26.0      1      1   29.0000     0.0   1.0  0.0  0.0  1.0
8         3  18.0      0      0    7.2292     1.0   0.0  1.0  0.0  0.0
9         3  21.0      2      0   24.1500     0.0   1.0  0.0  0.0  1.0
10        3  27.0      0      0    7.8958     0.0   1.0  0.0  0.0  1.0
11        1  46.0      0      0   26.0000     0.0   1.0  0.0  0.0  1.0
12        1  23.0      1      0   82.2667     1.0   0.0  0.0  0.0  1.0
13        2  63.0      1      0   26.0000     0.0   1.0  0.0  0.0  1.0
14        1  47.0      1      0   61.1750     1.0   0.0  0.0  0.0  1.0
15        2  24.0      1      0   27.7208     1.0   0.0  1.0  0.0  0.0
16        2  35.0      0      0   12.3500     0.0   1.0  0.0  1.0  0.0
17        3  21.0      0      0    7.2250     0.0   1.0  1.0  0.0  0.0
18        3  27.0      1      0    7.9250     1.0   0.0  0.0  0.0  1.0
19        3  45.0      0      0    7.2250     1.0   0.0  1.0  0.0  0.0
20        1  55.0      1      0   59.4000     0.0   1.0  1.0  0.0  0.0
21        3   9.0      0      1    3.1708     0.0   1.0  0.0  0.0  1.0
22        1  27.0      0      0   31.6833     1.0   0.0  0.0  0.0  1.0
23        1  21.0      0      1   61.3792     0.0   1.0  1.0  0.0  0.0
24        1  48.0      1      3  262.3750     1.0   0.0  1.0  0.0  0.0
25        3  50.0      1      0   14.5000     0.0   1.0  0.0  0.0  1.0
26        1  22.0      0      1   61.9792     1.0   0.0  1.0  0.0  0.0
27        3  22.5      0      0    7.2250     0.0   1.0  1.0  0.0  0.0
28        1  41.0      0      0   30.5000     0.0   1.0  0.0  0.0  1.0
29        3  27.0      2      0   21.6792     0.0   1.0  1.0  0.0  0.0
..      ...   ...    ...    ...       ...     ...   ...  ...  ...  ...
388       3  21.0      0      0    7.7500     0.0   1.0  0.0  1.0  0.0
389       3   6.0      3      1   21.0750     0.0   1.0  0.0  0.0  1.0
390       1  23.0      0      0   93.5000     0.0   1.0  0.0  0.0  1.0
391       1  51.0      0      1   39.4000     1.0   0.0  0.0  0.0  1.0
392       3  13.0      0      2   20.2500     0.0   1.0  0.0  0.0  1.0
393       2  47.0      0      0   10.5000     0.0   1.0  0.0  0.0  1.0
394       3  29.0      3      1   22.0250     0.0   1.0  0.0  0.0  1.0
395       1  18.0      1      0   60.0000     1.0   0.0  0.0  0.0  1.0
396       3  24.0      0      0    7.2500     0.0   1.0  0.0  1.0  0.0
397       1  48.0      1      1   79.2000     1.0   0.0  1.0  0.0  0.0
398       3  22.0      0      0    7.7750     0.0   1.0  0.0  0.0  1.0
399       3  31.0      0      0    7.7333     0.0   1.0  0.0  1.0  0.0
400       1  30.0      0      0  164.8667     1.0   0.0  0.0  0.0  1.0
401       2  38.0      1      0   21.0000     0.0   1.0  0.0  0.0  1.0
402       1  22.0      0      1   59.4000     1.0   0.0  1.0  0.0  0.0
403       1  17.0      0      0   47.1000     0.0   1.0  0.0  0.0  1.0
404       1  43.0      1      0   27.7208     0.0   1.0  1.0  0.0  0.0
405       2  20.0      0      0   13.8625     0.0   1.0  1.0  0.0  0.0
406       2  23.0      1      0   10.5000     0.0   1.0  0.0  0.0  1.0
407       1  50.0      1      1  211.5000     0.0   1.0  1.0  0.0  0.0
408       3  27.0      0      0    7.7208     1.0   0.0  0.0  1.0  0.0
409       3   3.0      1      1   13.7750     1.0   0.0  0.0  0.0  1.0
410       3  27.0      0      0    7.7500     1.0   0.0  0.0  1.0  0.0
411       1  37.0      1      0   90.0000     1.0   0.0  0.0  1.0  0.0
412       3  28.0      0      0    7.7750     1.0   0.0  0.0  0.0  1.0
413       3  27.0      0      0    8.0500     0.0   1.0  0.0  0.0  1.0
414       1  39.0      0      0  108.9000     1.0   0.0  1.0  0.0  0.0
415       3  38.5      0      0    7.2500     0.0   1.0  0.0  0.0  1.0
416       3  27.0      0      0    8.0500     0.0   1.0  0.0  0.0  1.0
417       3  27.0      1      1   22.3583     0.0   1.0  1.0  0.0  0.0

[418 rows x 10 columns]

In [82]:
# Predict the outcomes using predictors in testing data set
pred = dt.predict(X_test)

In [83]:
print pred

[0 0 1 1 1 0 0 0 1 0 0 0 1 0 1 1 0 1 1 0 1 1 1 1 1 0 1 1 1 0 0 0 1 0 1 1 0
 0 0 1 0 1 0 1 1 0 0 1 1 1 1 0 1 0 1 0 0 0 0 1 0 0 0 1 1 1 1 0 0 1 1 0 0 0
 1 0 0 0 0 1 1 0 0 0 0 0 1 1 1 1 1 1 0 0 0 0 1 1 1 1 1 0 1 0 1 0 0 1 1 0 0
 1 1 1 1 1 0 1 0 1 1 1 1 0 1 1 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 1 0
 1 0 1 0 0 1 0 0 1 0 0 1 1 1 1 1 0 1 0 0 1 0 1 0 0 0 0 1 1 1 1 1 0 1 1 1 1
 0 1 0 0 0 0 0 1 1 1 0 1 0 0 0 1 1 0 1 0 0 0 0 1 0 0 1 0 1 0 0 1 0 1 0 1 0
 1 1 1 0 0 1 0 0 0 1 0 0 1 0 1 1 1 1 1 1 1 0 0 0 1 0 1 0 1 0 0 0 0 1 1 0 1
 0 0 0 1 1 0 0 0 1 0 0 0 1 1 1 0 1 0 0 0 0 0 1 1 0 1 0 1 0 0 0 1 0 0 0 0 0
 1 0 0 0 1 0 0 0 1 1 0 1 0 0 0 1 1 0 1 1 1 0 1 0 0 0 0 1 1 0 1 0 0 0 1 0 0
 1 0 0 0 0 0 0 0 1 0 1 0 1 0 0 0 1 1 0 0 0 1 0 1 0 1 1 0 1 1 1 1 1 0 1 1 1
 0 1 0 0 1 1 0 0 0 1 1 0 1 1 0 1 0 0 0 0 0 1 1 0 0 1 1 1 0 0 1 0 1 1 0 1 0
 0 1 1 1 1 0 0 1 0 0 0]

In the step above, we got a set of predictions on the testing data set!